<div fxLayout="column" fxLayoutAlign="start stretch" class="faq-container">
  <h1 class="faq-title">Najczęściej zadawane pytania</h1>

  <mat-accordion>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="number">01</span> Czy aktualny pracodawca może zobaczyć moją Aplikację?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Wiedząc jak stresujące dla niektórych jest etap szukania nowej pracy,
        utworzyliśmy możliwość zastrzeżenia Aplikacji dla wskazanego numeru
        NIP. Dzięki temu kandydat ma pewność, że jego aktualny pracodawca nie
        zobaczy jego Aplikacji.
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="number">02</span> Kto może się ze mną skontaktować?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Do Twojej aplikacji będą miały dostęp tylko zarejestrowane i działające firmy. Więc skontaktować się może z Tobą tylko potencjalny nowy pracodawca lub head hunter.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="number">03</span> W jaki sposób mogę edytować moją Aplikację?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Po zalogowaniu masz dostęp do Panelu Klienta w którym możesz zarządzać - usunąć lub edytować swoją Aplikację.</p>
    </mat-expansion-panel>

  </mat-accordion>
</div>