<footer class="app-footer">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between" fxLayoutGap="20px" fxLayoutAlign.lt-md="center center"  class="footer-content">

        <div fxFlex="25%" fxFlex.lt-md="100%" class="footer-section">
            <h3>
                <mat-icon>work_outline</mat-icon>
                <span>Apply.Me</span>
            </h3>
        </div>

        <div fxFlex="25%" fxFlex.lt-md="100%" class="footer-section">
            <h3>Zasoby</h3>
            <ul>
                <li><a [routerLink]="'/terms'">Regulamin</a></li>
                <li><a [routerLink]="'/privacy-policy'">Polityka Prywatności</a></li>
                <li><a [routerLink]="'/cookies'">Ustawienia Cookies</a></li>
            </ul>
        </div>

        <div fxFlex="25%" fxFlex.lt-md="100%" class="footer-section">
            <h3>O nas</h3>
            <ul>
                <li><a [routerLink]="'/about-us'">O nas</a></li>
            </ul>
        </div>

        <div fxFlex="25%" fxFlex.lt-md="100%" class="footer-section">
            <h3>Social media</h3>
            <ul class="social-media">
                <li><a href="https://www.facebook.com/share/1ASvvfFJPR/?mibextid=LQQJ4d" target="_blank"><mat-icon>facebook</mat-icon></a></li>
                <li><a href="https://www.instagram.com/applyme.pl/profilecard/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24"><path fill="currentColor" d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3"/></svg></a></li>
                <li><a href="https://x.com/applymepl" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m13.081 10.712l-4.786-6.71a.6.6 0 0 0-.489-.252H5.28a.6.6 0 0 0-.488.948l6.127 8.59m2.162-2.576l6.127 8.59a.6.6 0 0 1-.488.948h-2.526a.6.6 0 0 1-.489-.252l-4.786-6.71m2.162-2.576l5.842-6.962m-8.004 9.538L5.077 20.25"/></svg></a></li>
            </ul>
        </div>

    </div>
</footer>