<div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="center center" class="app-container">
        <h1 class="app-title">Szczegóły</h1>
    </div>

    <div fxLayout="row" fxLayoutAlign="center">
        <div class="application-container" fxLayoutGap="20px">
            <div fxFlex="70">
                <app-application-details-describe></app-application-details-describe>
            </div>
            <div fxFlex="30">  
                <app-application-details-data></app-application-details-data>
            </div>
        </div>
    </div>
</div>