<div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="center center" class="app-container">
        <h1 class="app-title">Szczegóły</h1>
    </div>

    @if (isLoggedIn$ | async) {
    <div fxLayoutAlign="center">
        <div class="application-container" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
            <app-application-details-describe [announcement]="announcement" fxFlex="70">
            </app-application-details-describe>
            <app-application-details-data [announcement]="announcement" fxFlex="auto">
            </app-application-details-data>
        </div>

    </div>
    } @else {
    <div fxLayoutAlign="center">
        <div class="application-container" fxLayout="column" fxLayoutGap="20px">
            <div class="restricted-content">
                Zawartość dostępna tylko dla zarejestrowanych Pracodawców
            </div>
            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
                <div fxFlex="70">
                    <div>
                        <ngx-skeleton-loader appearance="circle" [theme]="{ width: '100px', height: '100px', margin: 0 }">
                        </ngx-skeleton-loader>
                    </div>
                    <ngx-skeleton-loader [theme]="{
                        width: '80%',
                        'border-radius': '0',
                        height: '20px',
                        'margin-bottom': '15px'
                        }">
                    </ngx-skeleton-loader>

                    <ngx-skeleton-loader count="2" [theme]="{ width: '60%', 'border-radius': '0', height: '20px' }">
                    </ngx-skeleton-loader>


                </div>
                <div fxFlex="auto">

                    <ngx-skeleton-loader count="2" [theme]="{
                        width: '100%',
                        'border-radius': '0',
                        height: '20px',
                        'margin-bottom': '15px'
                      }">
                    </ngx-skeleton-loader>

                    <ngx-skeleton-loader [theme]="{
                        width: '95%',
                        'border-radius': '0',
                        height: '20px',
                        'margin-bottom': '15px'
                      }">
                    </ngx-skeleton-loader>


                    <ngx-skeleton-loader count="3" [theme]="{
                        width: '70%',
                        'border-radius': '0',
                        height: '20px',
                        'margin-bottom': '15px'
                      }">
                    </ngx-skeleton-loader>

                </div>
            </div>
        </div>
    </div>
    }

</div>

<style>
    .restricted-content {
        font-size: 18px;
        font-weight: bold;
        color: #ff4081;
        margin-top: 10px;
        width: 100%;
        text-align: center;
    }
</style>