.app-container {
    background-color: black;
    height: 60px;
}

.app-title {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
}

.application-container {
    width: 1200px;
    padding: 20px;
}

.restricted-content {
    font-size: 18px;
    font-weight: bold;
    color: #ff4081;
    margin-top: 10px;
}