<div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="center center" class="app-container">
        <h1 class="app-title">Szczegóły</h1>
    </div>

    <div fxLayoutAlign="center">
        <div class="application-container" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
            <app-application-details-describe [announcement]="announcement" fxFlex="70">
            </app-application-details-describe>
            <app-application-details-data [announcement]="announcement" fxFlex="auto">
            </app-application-details-data>
        </div>
    </div>

</div>