.app-container {
    background-color: black;
    height: 200px; // Wysokość na pełen ekran
    display: flex;
    justify-content: center; // Wyśrodkowanie w poziomie
    align-items: center; // Wyśrodkowanie w pionie
}

.app-title {
    color: white; // Biały tekst na czarnym tle
    font-size: 2.5rem; // Rozmiar czcionki
    font-weight: bold; // Pogrubienie
    text-transform: uppercase; // Wielkie litery
}

.applications-container {
    width: 1200px;
    padding: 20px;
}

// Ogólne ustawienia dla kontenera
.container {
    padding: 40px;
    background-color: #f7f7f7;

    .header-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px;
        margin-bottom: 40px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

        img {
            width: 50%;
            border-radius: 12px;
            object-fit: cover;
        }

        .text-content {
            width: 45%;
            padding: 16px;

            h2 {
                font-size: 32px;
                font-weight: bold;
                margin-bottom: 16px;
                color: #333;
            }

            p {
                font-size: 16px;
                line-height: 1.2;
                color: #555;
            }
        }
    }

    // Sekcja "Jak to działa?"
    .how-it-works {
        text-align: center;
        margin-bottom: 32px;

        h3 {
            font-size: 28px;
            font-weight: bold;
            margin-bottom: 24px;
            color: #333;
        }
        .steps {
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            max-width: 1200px;
            margin: 0 auto;

            .step-card {
                height: 230px;
                flex: 1;
                padding: 24px;
                background-color: #fff;
                border-radius: 8px;
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
                margin: 0 8px;
                transition: transform 0.3s ease;

                &:hover {
                    transform: translateY(-10px);
                }

                .icon {
                    font-size: 48px;
                    color: #008080;
                    margin-bottom: 16px;
                }

                h4 {
                    font-size: 20px;
                    font-weight: bold;
                    margin-bottom: 12px;
                    color: #333;    
                    line-height: normal;
                }

                p {
                    font-size: 14px;
                    color: #666;
                    line-height: 1.4;
                }
            }
        }
    }
}