<div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="center center" class="app-container">
        <h1 class="app-title">O nas</h1>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="center">
        <div fxLayout="column" fxLayoutAlign="center" class="applications-container" fxLayoutGap="40px">
            <div fxLayout="column" fxLayoutAlign="center center" fxFlex="100%">
                <h2>Apply.me</h2>
                <span>Jesteśmy nowym start-upem, który podchodzi do HR w inny - niestandardowy sposób</span>
            </div>
            <div class="container">
                <div class="header-section">
                    <img src="onas.jpg" alt="People working together" />
                    <div class="text-content">
                        <h2>HR inny niż zwykle</h2>
                        <p>
                            Na naszym portalu znajdują się utworzone profile kandydatów szukających pracy, posiadających
                            możliwie jak najwięcej informacji...
                        </p>
                    </div>
                </div>

                <div class="how-it-works">
                    <h3>Jak to działa?</h3>
                    <div class="steps">

                        <div class="step-card">
                            <div class="icon">
                                <mat-icon>account_circle</mat-icon>
                            </div>
                            <h4>Dostęp</h4>
                            <p>Loguj się przez konto Google bez konieczności tworzenia nowego konta.</p>
                        </div>

                        <div class="step-card">
                            <div class="icon">
                                <mat-icon>create</mat-icon>
                            </div>
                            <h4>Tworzenie Aplikacji</h4>
                            <p>Kandydat tworzy aplikację w przygotowanym module może wykluczyć, który pracodawca(np.
                                obecny) nie zobaczy jego ogłoszenia</p>
                        </div>

                        <div class="step-card">
                            <div class="icon">
                                <mat-icon>search</mat-icon>
                            </div>
                            <h4>Wyszukiwanie Kandydata</h4>
                            <p>Dostęp mają zarejestrowane i działające firmy dla których został przygotowany
                                intuicyjny panel do wyszukiwania kandydatów</p>
                        </div>

                        <div class="step-card">
                            <div class="icon">
                                <mat-icon>work</mat-icon>
                            </div>
                            <h4>Oferta pracy</h4>
                            <p>Otrzymanie oferty pracy jest zapewnieniem, że profil kandydata pasuje do potrzeb
                                pracodawcy</p>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <app-faq></app-faq>
            </div>

        </div>
    </div>
</div>