<div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="center center" class="app-container">
        <h1 class="app-title">O nas</h1>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="center">
        <div fxLayout="column" fxLayoutAlign="center" class="applications-container" fxLayoutGap="40px">
            <div fxLayout="column" fxLayoutAlign="center center" fxFlex="100%">
                <h2>Apply.me</h2>
                <span>Jesteśmy nowym start-upem, który podchodzi do HR w inny - niestandardowy sposób</span>
            </div>
            <div class="container">
                <div class="header-section" fxLayout="row" fxLayout.lt-md="column">
                    <img src="onas.jpg" alt="People working together" fxFlex="50" fxFlex.lt-md="100"/>
                    <div class="text-content" fxFlex="45">
                        <h2>HR inny niż zwykle</h2>
                        <p>
                            Jesteśmy nowoczesnym startupem, który rewolucjonizuje proces rekrutacji w branży HR. Wierzymy, że szukanie pracy może być prostsze, a znalezienie odpowiedniego pracownika – szybsze. Nasza platforma daje kandydatom pełną swobodę: wystarczy dodać swoją Aplikację z doświadczeniem, a to pracodawcy podejmują inicjatywę, przeglądając profile i kontaktując się z wybranymi osobami. Tworzymy przestrzeń, gdzie to talent jest na pierwszym miejscu, a proces rekrutacji staje się bardziej przejrzysty i wygodny dla obu stron. Przyszłość rekrutacji zaczyna się tutaj!

                        </p>
                    </div>
                </div>

                <div class="how-it-works">
                    <h3>Jak to działa?</h3>
                    <div class="steps" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">

                        <div class="step-card">
                            <div class="icon">
                                <mat-icon>account_circle</mat-icon>
                            </div>
                            <h4>Dostęp</h4>
                            <p>Pracownik loguje się poprzez konto Google bez konieczności tworzenia nowego konta i ma dostęp tylko do swojej aplikacji. Pracodawca rejestruje się i ma dostęp do wszystkich aplikacji.</p>
                        </div>

                        <div class="step-card">
                            <div class="icon">
                                <mat-icon>create</mat-icon>
                            </div>
                            <h4>Tworzenie Aplikacji</h4>
                            <p>Kandydat tworzy aplikację w przygotowanym do tego module. Może dodać NIP i wykluczyć, który pracodawca (np. obecny) nie zobaczy jego ogłoszenia</p>
                        </div>

                        <div class="step-card">
                            <div class="icon">
                                <mat-icon>search</mat-icon>
                            </div>
                            <h4>Wyszukiwanie Kandydata</h4>
                            <p>Dostęp mają zarejestrowane i działające firmy dla których został przygotowany
                                intuicyjny panel do wyszukiwania kandydatów</p>
                        </div>

                        <div class="step-card">
                            <div class="icon">
                                <mat-icon>work</mat-icon>
                            </div>
                            <h4>Oferta pracy</h4>
                            <p>Otrzymanie zaproszenia na rozmowę rekrutacyjną jest zapewnieniem, że profil kandydata pasuje do potrzeb pracodawcy</p>
                        </div>
                    </div>
                </div>
            </div>

            <app-faq></app-faq>

        </div>
    </div>
</div>