// .transparent {
//   background-color: rgba(0, 0, 0, 0) !important;
//   position: absolute;
// }

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: black;
  position: sticky;

  .desktop-menu {
    display: flex;
    align-items: center;
    width: 100%;

    a {
      color: white;
      opacity: 0.9;
      
      &:hover {
        opacity: 1;
      }
    }

    .spacer {
      flex: 1 1 auto;
    }

    .logo {
      margin-bottom: 5px;
      height: 36px;
      cursor: pointer;
    }

    a {
      margin: 0 15px;
    }
  }
}
  
@media (max-width: 768px) {
  .toolbar{
    padding: 0;
  }
}