.app-container {
    background-color: black;
    height: 60px;
}

.app-title {
    color: white; // Biały tekst na czarnym tle
    font-size: 2.5rem; // Rozmiar czcionki
    font-weight: bold; // Pogrubienie
    text-transform: uppercase; // Wielkie litery
    margin-bottom: 0;
}

.applications-container{
    // display: flex;
    width: 1200px;
    padding: 20px;
}