.login-container {
  min-height: 100vh; // Wysokość viewportu minus wysokość toolbara
  padding: 20px;
  background-color: #f5f5f5;
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;

  mat-card-header {
    justify-content: center;
    margin-bottom: 20px;
  }

  mat-card-title {
    font-size: 24px;
    margin-bottom: 0;
  }

  form {
    width: 100%;
  }

  .error-message {
    color: #f44336;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
  }

  button {
    width: 100%;
  }
}

mat-form-field {
  width: 100%;

  mat-icon {
    margin-right: 8px;
  }
}

.google-button-text {
  display: flex;
  align-items: center;

  img {
    margin-right: 8px;
  }
}
