<div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="center center" class="app-container">
        <h1 class="app-title">KONTAKT</h1>
    </div>

    <div fxLayout="row" fxLayoutAlign="center">
        <div class="application-container" fxLayoutGap="20px">
            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center" class="contact-container">
                <!-- Left side with contact information -->
                <div fxFlex="45" fxFlex.lt-md="100" class="contact-info">
                    <h2 fxHide fxShow.gt-sm>Współpraca, problem, pomysł na udoskonalenie lub po prostu kontakt?</h2>
                    <h4 fxHide fxShow.lt-md>Współpraca, problem, pomysł na udoskonalenie lub po prostu kontakt?</h4>
                </div>

                <!-- Right side with contact form -->
                <div fxFlex="45" fxFlex.lt-md="100" class="contact-form">
                    <mat-card>
                        <mat-card-title>Formularz kontaktowy</mat-card-title>
                        <mat-card-content>
                            <form>
                                <mat-form-field appearance="outline" subscriptSizing="dynamic">
                                    <mat-label>Imię i Nazwisko / Nazwa Firmy</mat-label>
                                    <input matInput placeholder="Imię i Nazwisko">
                                </mat-form-field>

                                <mat-form-field appearance="outline" subscriptSizing="dynamic">
                                    <mat-label>Temat</mat-label>
                                    <input matInput placeholder="Temat">
                                </mat-form-field>

                                <mat-form-field appearance="outline" subscriptSizing="dynamic">
                                    <mat-label>Email</mat-label>
                                    <input matInput placeholder="Email">
                                </mat-form-field>

                                <mat-form-field appearance="outline" subscriptSizing="dynamic">
                                    <mat-label>Wiadomość</mat-label>
                                    <textarea matInput placeholder="Treść wiadomości" style="resize: none;"></textarea>
                                </mat-form-field>

                                <button mat-flat-button>Wyślij Wiadomość</button>
                            </form>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>