<div class="job-search-container">
    <div class="hero-section">
        <h1>Znajdź z nami swoją nową pracę</h1>
        <p>HR w inny sposób, łączymy pracodawców z pracownikami</p>
    </div>

    <div class="search-bar">
        <div class="search-bar-container">
            <input type="text" placeholder="Stanowisko, słowo kluczowe" class="input-field" />
            <input type="text" placeholder="Lokalizacja" class="input-field border-radius-zero" />
            <input type="text" placeholder="Kategoria" class="input-field border-radius-zero" />
            <button class="search-button" mat-flat-button>Znajdź pracownika</button>
        </div>
    </div>
</div>