/* Stylizacja dla komputerów */
.job-search-container {
    text-align: center;
    padding: 4%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../../public/main.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 50vh;

    .job-search{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.hero-section h1 {
    font-size: 48px;
    margin-bottom: 10px;
    color: white;
}

.hero-section p {
    font-size: 18px;
    color: white;
}

.search-bar {
    margin-top: 30px;
}

.search-bar-container {
    display: flex;
    border-radius: 50px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: 0 auto;
}

.input-field {
    flex: 2;
    border: none;
    border-radius: 50px 0 0 50px;
    border-right: 1px solid grey;
    font-size: 16px;
    padding: 0px 16px;
    outline: none;
    width: auto;
    background-color: white;
}

.border-radius-zero {
    border-radius: 0;
    display: flex;
}

.search-button {
    padding: 12px 20px;
    border: none;
    border-radius: 0 50px 50px 0;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px;
    height: 48px;
    margin-left: -1px;
}

/* Stylizacja responsywna dla telefonów */
@media (max-width: 768px) {
    .job-search-container {
        height: 65vh;
    }

    .search-bar-container {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        box-shadow: none;
    }

    .input-field {
        border-radius: 50px;
        margin-bottom: 10px;
        border-right: none;
        font-size: 14px;
        min-height: 48px;
        text-align: center;
    }

    .search-button {
        border-radius: 50px;
        width: 100%;
        margin-left: 0;
        font-size: 14px;
        height: 48px;
        box-sizing: border-box;
    }

    .hero-section h1 {
        font-size: 36px;
        line-height: 36px;
    }

    .hero-section p {
        font-size: 16px;
    }
}

::ng-deep {
    .custom-panel {
        mat-option {
            .mat-icon {
                margin-right: 8px;
            }
        }
    }
}