<div class="job-posting-container">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
    <div>
      <h1 class="job-title">{{ announcement?.position }}</h1>
      <p class="company-name">{{ announcement?.fullName }}</p>
    </div>
  </div>

  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start" fxLayoutGap="12px" class="job-info">
    <div fxLayout="row" fxLayoutGap="8px">
      <mat-icon>business</mat-icon>
      <span>{{ announcement?.category }}</span>
    </div>
    <div fxLayout="row" fxLayoutGap="8px">
      <mat-icon>schedule</mat-icon>
      <span>{{ announcement?.workMode }}</span>
    </div>
    <div fxLayout="row" fxLayoutGap="8px">
      <mat-icon>attach_money</mat-icon>
      <span>{{ announcement?.salary }} PLN</span>
    </div>
    <div fxLayout="row" fxLayoutGap="8px">
      <mat-icon>location_on</mat-icon>
      <span>{{ announcement?.workPlace?.join(', ') }}</span>
    </div>
  </div>

  <div class="job-description">
    <h2><mat-icon>check_circle</mat-icon>Profil zawodowy</h2>
    <p>{{ announcement?.profilZawodowy }}</p>
  </div>

  <div class="job-responsibilities">
    <h2><mat-icon>check_circle</mat-icon>Doświadczenie</h2>
    <p>{{ announcement?.doswiadczenie }}</p>
  </div>

  <div class="job-skills">
    <h2><mat-icon>check_circle</mat-icon>Wykształcenie</h2>
    <p>{{ announcement?.wyksztalcenie }}</p>
  </div>

  <div class="job-tags">
    <h3>Umiejętności:</h3>
    <div fxLayout="row" fxLayoutGap="8px" class="tag-list">
      <mat-chip-set>
        @for (skill of announcement?.skills; track skill) {
        <mat-chip>{{ skill }}</mat-chip>
        }
      </mat-chip-set>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px" class="share-job">
    <!-- <mat-icon>email</mat-icon> -->
  </div>
</div>