<div fxLayout="column" fxLayoutGap="20px">
    <mat-card class="profil-card">
        <mat-card-header>
            <mat-card-title>Profil zawodowy</mat-card-title>
            <button mat-icon-button (click)="openEditDialog('profilZawodowy', 'Profil zawodowy')">
                <mat-icon>edit</mat-icon>
            </button>
        </mat-card-header>
        <mat-card-content>
            <p>{{ profilZawodowy }}</p>
        </mat-card-content>
    </mat-card>

    <mat-card class="profil-card">
        <mat-card-header>
            <mat-card-title>Doświadczenie</mat-card-title>
            <button mat-icon-button (click)="openEditDialog('doswiadczenie', 'Doświadczenie')">
                <mat-icon>edit</mat-icon>
            </button>
        </mat-card-header>
        <mat-card-content>
            <p>{{ doswiadczenie }}</p>
        </mat-card-content>
    </mat-card>

    <mat-card class="profil-card">
        <mat-card-header>
            <mat-card-title>Wykształcenie</mat-card-title>
            <button mat-icon-button (click)="openEditDialog('wyksztalcenie', 'Wykształcenie')">
                <mat-icon>edit</mat-icon>
            </button>
        </mat-card-header>
        <mat-card-content>
            <p>{{ wyksztalcenie }}</p>
        </mat-card-content>
    </mat-card>

    <mat-card class="profil-card">
        <mat-card-header>
            <mat-card-title>Umiejętności</mat-card-title>
            <button mat-icon-button (click)="openAddDialogSkill()">
                <mat-icon>add</mat-icon>
            </button>
        </mat-card-header>
        <mat-card-content>
            <mat-chip-set>
                <mat-chip *ngFor="let skill of skills"  [removable]="true" (click)="openEditDialogSkill(skill)">
                  {{ skill }}
                </mat-chip>
              </mat-chip-set>
        </mat-card-content>
    </mat-card>

</div>