.filter-container {
    padding: 16px;
    background-color: #f9f9f9;
    border-radius: 8px;
    max-width: 300px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .full-width {
    width: 100%;
  }
  
  mat-expansion-panel {
    background-color: white;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  
  .salary-filter {
    align-items: center;
    justify-content: space-between;
    margin: 16px 0;
  }
  
  mat-slider {
    width: 95%;
  }

  mat-checkbox{
    width: 100%;
  }