<div class="categories-container">
    <div class="wrapper">
        <div class="applications-list">
            <h2>Ostatnio Dodane Nowe Aplikacje</h2>
            @for(app of paginatedApplications; track app){
            <div class="application-card">
                <div class="details">
                    <h3>{{ app.position }}</h3>
                    <p>{{ app.skills.join(', ') }}</p>
                    <div class="info">
                        <span><mat-icon class="icon">work_outline</mat-icon>{{ app.category }}</span>
                        <span><mat-icon class="icon">schedule</mat-icon>{{ app.workMode }}</span>
                        <span><mat-icon class="icon">attach_money</mat-icon>{{ app.salary }}</span>
                        <span><mat-icon class="icon">location_on</mat-icon>{{ app.workPlace }}</span>
                    </div>
                </div>
                <div class="view-button">
                    <button mat-flat-button (click)="viewApplicationDetails(app.id)">Wyświetl Aplikację</button>
                </div>
            </div>
            }
            
            @if(limit && filteredApplications.length === limit){
            <div class="show-more-container">
                <button mat-flat-button color="primary" [routerLink]="['/applications']">
                    Pokaż więcej aplikacji
                </button>
            </div>
            }

            @if(!limit){
            <mat-paginator
                [length]="filteredApplications.length"
                [pageSize]="pageSize"
                [pageSizeOptions]="[5, 10, 25]"
                (page)="onPageChange($event)"
                aria-label="Wybierz stronę">
            </mat-paginator>
            }
        </div>
    </div>
</div>