.categories-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: #f9f9f9;
}

.wrapper {
    width: 1200px;
}

.applications-list {

    h2 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: start;
    }


    .application-card {
        display: flex;
        justify-content: space-between;
        padding: 16px;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        background-color: white;
        margin-bottom: 16px;
        transition: box-shadow 0.3s ease;

        &:hover {
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
        }

        .details {
            display: flex;
            flex-direction: column;
            align-items: start;

            h3 {
                font-size: 18px;
                margin: 0;
                font-weight: bold;
                height: 30px;
            }

            p {
                font-size: 14px;
                color: #666;
            }

            .info {
                display: flex;
                gap: 10px;

                span {
                    display: flex;
                    align-items: center;
                    font-size: 12px;
                    color: #333;

                    &.icon {
                        font-size: 16px;
                        margin-right: 5px;
                    }
                }
            }
        }

        .view-button{
            display: flex;
            align-items: center;
        }

    }
}

@media (max-width: 600px) {
    .wrapper {
        width: 100%;
        padding: 0 10px;
    }

    .applications-list h2 {
        text-align: center;
    }

    .application-card {
        max-width: 100%; /* Pełna szerokość na małych ekranach */
        margin: 0 auto 20px; /* Wyśrodkowanie i odstępy */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }

    .application-card .details {
        align-items: flex-start;
    }

    .application-card .info {
        flex-direction: column; /* Ustawienie informacji pionowo */
        gap: 5px;
    }

    .view-button {
        width: 100%; /* Pełna szerokość dla przycisku */
        margin-top: 15px;

        button{
            width: 100%;
        }
    }
}

.show-more-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}