<div class="categories-container">
    <div class="wrapper">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="hr-section" fxLayout.lt-md="column">
            <div fxFlex="45%" fxFlex.lt-md="100%">
                <img src="hr.jpg" alt="Zespół HR" class="hr-image" />
            </div>

            <div fxFlex="50%" fxFlex.lt-md="100%">
                <h1>HR w inny sposób</h1>
                <p>
                    Na naszym portalu znajdują się utworzone profile kandydatów szukających pracy, posiadające możliwie
                    jak najwięcej informacji. Jest to korzyść zarówno dla kandydatów jak i dla firm. Dlaczego? Ile razy
                    kandydat wysyła CV do różnych firm i czeka z niecierpliwością tygodnie lub miesiące na ten jeden
                    telefon który nie nadchodzi? Ile tysięcy CV otrzymuje firma na otwartą rekrutację ? Dzięki naszemu
                    portalowi kandydat oszczędza czas i minimalizuje nerwy związane ze znalezieniem nowej pracy,
                    ponieważ ma pewność, że firma, która się do niego odezwie jest nim naprawde zainteresowana.
                    Natomiast firmy mają możliwość przeglądu Profili Kandydatów i kontaktu z tymi, którzy spełniają ich
                    wymagania.
                </p>
            </div>
        </div>

        <!-- <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-around center" fxLayoutAlign.lt-md="center center" fxLayoutGap="20px" class="stats-section" >
            <div class="stat-item">
                <h2>12k+</h2>
                <p>Utworzonych i aktywnych aplikacji</p>
            </div>
            <div class="stat-item">
                <h2>20k+</h2>
                <p>Firm szukających pracownika</p>
            </div>
            <div class="stat-item">
                <h2>18k+</h2>
                <p>Kandydatów którzy znaleźli pracę</p>
            </div>
        </div> -->
    </div>
</div>