<div class="job-overview-container" fxLayout="column" fxLayoutGap="16px">
    <p class="section-title">Przegląd oferty</p>
  
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
      <mat-icon>person</mat-icon>
      <div>
        <p class="info-title">Imię i nazwisko</p>
        <p>{{ announcement?.fullName }}</p>
      </div>
    </div>
  
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
      <mat-icon>work</mat-icon>
      <div>
        <p class="info-title">Stanowisko</p>
        <p>{{ announcement?.position }}</p>
      </div>
    </div>
  
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
      <mat-icon>category</mat-icon>
      <div>
        <p class="info-title">Kategoria</p>
        <p>{{ announcement?.category }}</p>
      </div>
    </div>
  
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
      <mat-icon>attach_money</mat-icon>
      <div>
        <p class="info-title">Wynagrodzenie</p>
        <p>{{ announcement?.salary }} PLN</p>
      </div>
    </div>
  
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
      <mat-icon>business_center</mat-icon>
      <div>
        <p class="info-title">Tryb pracy</p>
        <p>{{ announcement?.workMode }}</p>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
      <mat-icon>schedule</mat-icon>
      <div>
        <p class="info-title">Dostępność</p>
        <p>{{ announcement?.availableFrom }}</p>
      </div>
    </div>
  
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
      <mat-icon>location_on</mat-icon>
      <div>
        <p class="info-title">Lokalizacja</p>
        <p>{{ announcement?.workPlace.join(', ') }}</p>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
      <mat-icon>email</mat-icon>
      <div>
        <p class="info-title">Email</p>
        <p>{{ announcement?.email }}</p>
      </div>
    </div>
</div>
  