<div class="job-overview-container" fxLayout="column" fxLayoutGap="16px">
    <p class="section-title">Job Overview</p>
  
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
      <mat-icon>person</mat-icon>
      <div>
        <p class="info-title">Job Title</p>
        <p>Corporate Solutions Executive</p>
      </div>
    </div>
  
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
      <mat-icon>work</mat-icon>
      <div>
        <p class="info-title">Job Type</p>
        <p>Full Time</p>
      </div>
    </div>
  
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
      <mat-icon>category</mat-icon>
      <div>
        <p class="info-title">Category</p>
        <p>Commerce</p>
      </div>
    </div>
  
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
      <mat-icon>timelapse</mat-icon>
      <div>
        <p class="info-title">Experience</p>
        <p>5 Years</p>
      </div>
    </div>
  
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
      <mat-icon>school</mat-icon>
      <div>
        <p class="info-title">Degree</p>
        <p>Master</p>
      </div>
    </div>
  
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
      <mat-icon>attach_money</mat-icon>
      <div>
        <p class="info-title">Offered Salary</p>
        <p>$40,000 - $42,000</p>
      </div>
    </div>
  
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
      <mat-icon>wc</mat-icon>
      <div>
        <p class="info-title">Gender</p>
        <p>All</p>
      </div>
    </div>
  
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
      <mat-icon>location_on</mat-icon>
      <div>
        <p class="info-title">Location</p>
        <p>New-York, USA</p>
      </div>
    </div>
  
  </div>
  