.job-overview-container {
  background-color: #f5fafa;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.section-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 16px;
}

.info-title {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 4px;
}

p {
  margin: 0;
  font-size: 14px;
}

mat-icon {
  color: #008080;
}