<div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="center center" class="app-container">
        @if(czyEdycja){
        <h1 class="app-title">Edytuj aplikacje</h1>
        } @else {   
        <h1 class="app-title">Dodaj aplikacje</h1>
        }
    </div>

    <div fxLayout="row" fxLayoutAlign="center">
        <div class="application-container">
            <form [formGroup]="applicationForm" (ngSubmit)="onSubmit()">
                <div fxLayout="row wrap" fxLayoutAlign="space-between" class="form-container">
                    <mat-form-field appearance="outline" fxFlex="30" fxFlex.lt-md="100">
                        <mat-label>Imię i Nazwisko</mat-label>
                        <mat-icon matPrefix>person</mat-icon>
                        <input matInput formControlName="fullName">
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="30" fxFlex.lt-md="100">
                        <mat-label>Adres e-mail</mat-label>
                        <mat-icon matPrefix>mail</mat-icon>
                        <input matInput formControlName="email">
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="30" fxFlex.lt-md="100">
                        <mat-label>Oczekiwane stanowisko</mat-label>
                        <mat-icon matPrefix>work</mat-icon>
                        <input matInput formControlName="position">
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="30" fxFlex.lt-md="100">
                        <mat-label>Oczekiwania finansowe</mat-label>
                        <mat-icon matPrefix>attach_money</mat-icon>
                        <input matInput formControlName="salary" placeholder="0-PLN">
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="30" fxFlex.lt-md="100">
                        <mat-label>Kategoria</mat-label>
                        <mat-select formControlName="category">
                            @for (category of categories; track category) {
                            <mat-option [value]="category">{{ category }}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="30" fxFlex.lt-md="100">
                        <mat-label>Tryb pracy</mat-label>
                        <mat-select formControlName="workMode">
                            @for (mode of workModes; track mode) {
                            <mat-option [value]="mode">{{ mode }}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="30" fxFlex.lt-md="100">
                        <mat-label>Dostępność od</mat-label>
                        <mat-icon matPrefix>schedule</mat-icon>
                        <mat-select formControlName="availableFrom">
                            @for (availability of availabilities; track availability) {
                            <mat-option [value]="availability">{{ availability }}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>

                    <app-work-place-input fxFlex="30" fxFlex.lt-md="100" formControlName="workPlace">
                    </app-work-place-input>

                    <mat-form-field appearance="outline" fxFlex="30" fxFlex.lt-md="100">
                        <mat-label>NIP Pracodawcy</mat-label>
                        <input matInput formControlName="employerNip">
                        <mat-hint>Możesz wpisać NIP firmy, której nie chcesz pokazywać aplikacji</mat-hint>
                    </mat-form-field>
                </div>

                <app-skills></app-skills>

                <div style="margin-top: 15px;">
                    @if(czyEdycja){
                    <button mat-flat-button color="primary" type="submit">
                        Zapisz zmiany
                    </button>
                    } @else {
                    <button mat-flat-button color="primary" type="submit">
                        Dodaj aplikację
                    </button>
                    }
                </div>
            </form>
        </div>
    </div>
</div>